name: Linting

on:
  push:
  pull_request:

jobs:
  tests:
    name: Lint check
    runs-on: ubuntu-latest
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.1"
          tools: composer:v2
          coverage: none

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install composer dependencies
        run: |
          composer update --prefer-dist --no-interaction --no-progress --no-ansi ${COMPOSER_FLAGS}

      - name: PHPCsFixer
        run: composer lint
